## File types
*.pkl
*.h5
*.csv
*.h5
*.log
*.out
cache/
*.pdf
*.png
slurm_logs/
*.swp
*.map
.idea/
config.rst
venv
.venv
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.vscode

# Folders 
figures/*
!figures/README.md
outputs/
!outputs/README.md
!sweeps/*.csv